<?xml version="1.0" encoding="UTF-8" standalone="no"?><Settings><parsingAsset URL="https://www.kaseya.com/" caseEqualization="true" delay="120"><Keyword>java</Keyword><Keyword>IT</Keyword><Keyword>Collaborative</Keyword></parsingAsset><parsingAsset URL="abbb1" caseEqualization="false"/><parsingAsset URL="cbcbcbc1" caseEqualization="false" delay="20478"><Keyword>-a</Keyword><Keyword>asa</Keyword><Keyword>awdaa</Keyword><Keyword>aawefaa</Keyword><Keyword>aawfeaaa</Keyword><Keyword>aaaafaa</Keyword><Keyword>bf?</Keyword></parsingAsset><parsingAsset URL="http://www.mrk-bsuir.by/en" caseEqualization="true"/></Settings>